
{% extends "base.html" %}

{% block content %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" align="right">
        <br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
        <br>
        <label for="verify-password">Verify Password:</label>
        <input type="text" id="verify-password" name="verify-password">
        <br>
        <label for="email">Email (optional):</label>
        <input type="text" id="email" name="email">
        <br>        
        <input type="submit" value="Submit">
     
    </body>
</html>    
{% endblock %}